.parent{
    margin-top: 7%;
}
.row{
    padding-right: 4%;
    padding-left: 3%;
}
.manage-btn{
    margin-left: 84%  
}
.btn-primary{
    background-color: #002357 !important;
    border-color: #002357 !important;
    width: 10%;
    min-width: fit-content;
    margin-top: 7%;
    margin-right: 25px;
}
.btn-primary:hover{
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
@media (max-width: 991px){
    .btn-primary{
        margin-top:30px;width: 70%;
        min-width: fit-content;
        display: block;
        margin: auto;
        margin-top: 7%;
    }
}